@import url(./variables.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
    color: white;
    background-image: linear-gradient(to bottom, black 70%, green);
    transition: all 0.5s;

    height: 100dvh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    >section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;    
        height: 100%;
        width: 100%;
    }
}

section{
    position: relative;
    border: 1px solid white;

    >div:nth-child(1){
        margin-bottom: auto;
        margin-top: auto;
        font-size: 25pt;
        height: 10rem;

        /* border: 1px solid white; */
    }
    >.con{

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 2rem;

        margin-bottom: auto;
        >div{
            width: 8rem;
            aspect-ratio: 1/1;
            border: 1px solid white;
            border-radius: 10px;

            &:nth-child(1){
                background-color: rgb(158, 157, 157);
                &:hover{
                    background-color: color-mix(in srgb, rgb(158, 157, 157) 70%, white 30%);
                }
            }
            &:nth-child(2){
                background-color: green;
                &:hover{
                    background-color: color-mix(in srgb, green 70%, white 30%);
                }
            }
            &:nth-child(3){
                background-color: blue;
                &:hover{
                    background-color: color-mix(in srgb, blue 70%, white 30%);
                }
            }
            &:nth-child(4){
                background-color: lime;
                &:hover{
                    background-color: color-mix(in srgb, lime 70%, white 30%);
                }
            }

            &:hover{
                cursor: pointer;
            }
        }
    }
}


.lightBg{
    background-color: rgba(50, 50, 50, 0.5);
}
.clickOut{
    animation: exOut 0.2s ease;
}
.clickIn{
    animation: exIn 0.2s ease;
}
.click{
    animation: ex 0.2s ease;
}
@keyframes exOut{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}
@keyframes exIn{
    to{
        transform: scale(1);
    }
    from{
        transform: scale(1.1);
    }
}
@keyframes ex{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}